<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615602388074-732v1212hnvo5ni2uc6qvobm628tclsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615602388074-732v1212hnvo5ni2uc6qvobm628tclsk</string>
	<key>API_KEY</key>
	<string>AIzaSyBeZbBKSbC13U7_ojw19ba51DNQO546NL0</string>
	<key>GCM_SENDER_ID</key>
	<string>615602388074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ttamna</string>
	<key>PROJECT_ID</key>
	<string>ttamna-b5b13</string>
	<key>STORAGE_BUCKET</key>
	<string>ttamna-b5b13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615602388074:ios:0bf7398a2738a9c7751e13</string>
</dict>
</plist>